body {
   background-color: #eef;     
   
}

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: none;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  z-index: 100;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#tabs {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#highchart-refhydro {
    width: 85%;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 10px;
}

#highchart-wseprofile{
    width: 85%;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 10px;
}

h1 {
	margin: 1em 0 0.5em 0;
   	font-size: 30px;
	line-height: 40px;
	font-family: 'Orienta', sans-serif;
	text-transform: uppercase;
}

h2 {
	margin: 1em 0 0.5em 0;
	font-size: 22px;
	line-height: 40px;
	font-family: 'Orienta', sans-serif;
	font-style: italic;
	text-transform: uppercase;
}

h3 {
	margin: 1em 0 0.5em 0;
	font-size: 18px;
	line-height: 30px;
	font-family: 'Orienta', sans-serif;
	font-style: normal;
	text-transform: uppercase;
}

	
label{
	font:bold 0.75em/2 sans-serif;
	text-align: right;
	vertical-align: top; 
	width: 100px;
	padding-right: 2em;
}

.form-fields{
	list-style-type: none;
}

.form-help{
	font: 0.75em/2 sans-serif;
	text-align: left;
	padding-right: 2em;
}
