<div id="data">12</div>
<script>
var txt = $('#data').val();

$.ajax({
    url: 'hello.php',
    type: 'post',
    data  : { user: txt }, 
    success: function(data) {
        alert(data);
    },
    error : function(err, req) {
        alert("Your browser broke!");
    }
});
</script>